*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', 'Arial', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.coral {
  color: #D87D4A;
}

.btn-1 {
  display: inline-block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 15px 30px;
  border-radius: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
  background-color: #D87D4A;
  letter-spacing: 1px;
}

.btn-1:hover {
  background-color: #FBAF85;
  color: #FFFFFF;
}

.btn-2 {
  display: inline-block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 15px 30px;
  border-radius: 0;
  color: #000000;
  border: 1px solid #000000;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #000000;
  opacity: .5;
}

.h2-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  color: #000000;
  text-transform: uppercase;
}

.h3-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  color: #000000;
}

.h4-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  color: #D87D4A;
}

.header__nav {
  background-color: #141414;
}

.header__nav .container {
  border-bottom: 1px solid #555;
  padding: 35px 12px;
}

.header .nav-link {
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 0 16px;
}

.header .nav-link:hover {
  color: #D87D4A;
}

.header .nav-item:not(:last-child) {
  margin-right: 18px;
}

.header .fa-bars {
  color: #FFFFFF;
  font-size: 23px;
}

.header .cart-btn {
  background-color: transparent;
  border: none;
}

.header svg {
  fill: #FFFFFF;
}

.header svg:hover {
  fill: #D87D4A;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.intro {
  background-color: #141414;
}

.intro .container {
  padding-top: 128px;
  padding-bottom: 158px;
  background-image: url(../img/intro-img.png);
  background-repeat: no-repeat;
  background-position: right -100px;
}

.intro__sub-title {
  color: #FFFFFF;
  opacity: .5;
}

.intro__title {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.intro__text {
  color: #FFFFFF;
  opacity: .75;
  width: 349px;
}

@media (max-width: 768px) {
  .intro .container {
    background-image: url(../img/intro-img-mob.png);
    background-position: center;
  }
  .intro__text {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .intro__title {
    font-size: 36px;
    line-height: 40px;
  }
  .intro__text {
    width: 100%;
  }
}

.products {
  margin-top: 200px;
}

.products__btn {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #000000;
  opacity: .5;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__btn:hover {
  color: #D87D4A;
  opacity: 1;
}

.products__btn i {
  margin-left: 13px;
  font-size: 19px;
}

.products .card {
  position: relative;
  background-color: #F1F1F1;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 204px;
  border-radius: 8px;
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: center 20px;
}

.products .card img {
  margin-top: -80px;
}

.products .card h3 {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .products {
    margin-top: 130px;
  }
  .products .card {
    margin-bottom: 100px;
  }
}

.info {
  margin-top: 150px;
}

.info .row-1 {
  padding-top: 95px;
  background-color: #D87D4A;
  border-radius: 8px;
}

.info__title {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.info__text {
  color: #FFFFFF;
  opacity: .75;
  width: 349px;
}

.info__btn-1 {
  background-color: #000000;
  color: #FFFFFF;
}

.info__btn-1:hover {
  background-color: #4C4C4C;
  border: 1px solid #4C4C4C;
}

.info .row-2 {
  background-image: url(../img/zx7-1.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  padding: 101px 0;
  padding-left: 90px;
  background-size: cover;
}

.info .row-3 .card-body {
  padding: 106px 0;
  padding-left: 95px;
  background-color: #F1F1F1;
  border-radius: 8px;
}

.info__img-3 {
  background-image: url(../img/yx1-1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 320px;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .info .row-3 .card-body {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .info {
    margin-top: 0px;
  }
  .info .row-1 {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .info__text {
    width: 95%;
    margin: 0 auto;
  }
  .info .row-2 {
    background-image: url(../img/zx7-1-tab.png);
    background-repeat: no-repeat;
    padding-left: 0;
  }
  .info__img-3 {
    background-image: url(../img/yx1-1-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
  }
  .info .row-3 .card-body {
    padding: 50px 0;
    margin-top: 24px;
    padding-left: 30px;
  }
  .info .row-3 .col-md-6 {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .info__title {
    font-size: 36px;
    line-height: 40px;
  }
}

.man {
  margin-top: 160px;
  margin-bottom: 160px;
}

.man h2 {
  width: 90%;
}

.man h2 span {
  color: #D87D4A;
}

@media (max-width: 768px) {
  .man {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .man h2 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .man h2 {
    font-size: 28px;
    line-height: 38px;
  }
}

.footer {
  background-color: #101010;
  padding-bottom: 40px;
}

.footer__line {
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
}

.footer__nav {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer ul li:not(:first-child) {
  margin-left: 34px;
}

.footer ul .nav-link {
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #FFFFFF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 0;
}

.footer ul .nav-link:hover {
  color: #D87D4A;
}

.footer__text {
  color: #FFFFFF;
  opacity: .5;
  margin-top: 36px;
  width: 540px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -65px;
}

.footer__icons a {
  margin-left: 16px;
  font-size: 24px;
  color: #FFFFFF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer__icons a:hover {
  color: #D87D4A;
}

.footer__icons a:first-child {
  margin-left: 0;
}

.footer__right {
  margin-top: 56px;
}

.footer__end {
  color: #FFFFFF;
  opacity: .5;
}

@media (max-width: 768px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer ul {
    margin-top: 35px;
  }
  .footer__text {
    width: 100%;
  }
  .footer__icons {
    margin-top: -8px;
  }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (max-width: 500px) {
  .footer__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer ul li:not(:first-child) {
    margin-left: 0px;
  }
  .footer ul li {
    margin-bottom: 16px;
  }
  .footer__text {
    text-align: center;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__end {
    margin-bottom: 48px;
  }
}

.headphones-title {
  background-color: #141414;
  padding: 97px 0;
}

.headphones--title {
  color: #FFFFFF;
  text-align: center;
}

.headphones {
  margin-top: 160px;
}

.headphones__col-2 {
  padding-left: 50px;
}

.headphones .row {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .headphones {
    margin-top: 120px;
  }
  .headphones__col-2 {
    padding-left: 12px;
  }
}

@media (max-width: 500px) {
  .headphones {
    margin-top: 64px;
  }
  .headphones .h2-title {
    font-size: 28px;
    line-height: 38px;
  }
  .headphones-title {
    padding: 32px 0;
  }
  .headphones--title {
    font-size: 28px;
  }
}

.headphones-1 {
  margin-top: 70px;
}

.headphones-1__btn {
  border: none;
}

.headphones-1 .value {
  background-color: #F1F1F1;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.headphones-1 .value button {
  background-color: transparent;
  border: none;
  opacity: .25;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.headphones-1 .value button:hover {
  color: #D87D4A;
  opacity: 1;
}

.features {
  margin-bottom: 80px;
}

.features .col-md-4 span {
  color: #D87D4A;
}

.may .card {
  background-color: #F1F1F1;
}

.may .card .card-body {
  width: 100%;
}

.modal__total-value-color {
  color: #D87D4A;
}

.modal__total-1 h6 {
  font-size: 14px;
}

.modal__total-1 span {
  display: inline-block;
  font-size: 15px;
}

.modal__value {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .col-12 h6 {
  font-size: 15px;
}

.modal .col-12 span {
  font-size: 14px;
}

.modal .col__bg-color {
  background-color: #F1F1F1;
  border-radius: 8px 0 0 8px;
  padding: 24px;
}

.modal .col__bg-color-2 {
  border-radius: 0 8px 8px 0;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout {
  background-color: #F2F2F2;
}

.checkout .col-md-8 h2 {
  margin-bottom: 40px;
}

.checkout .col-md-8 h6 {
  color: #D87D4A;
  font-size: 13px;
}

.checkout label {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.checkout input {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.checkout input::-webkit-input-placeholder {
  color: #000000;
  opacity: .4;
}

.checkout input:-ms-input-placeholder {
  color: #000000;
  opacity: .4;
}

.checkout input::-ms-input-placeholder {
  color: #000000;
  opacity: .4;
}

.checkout input::placeholder {
  color: #000000;
  opacity: .4;
}

.checkout input:focus {
  border: 1px solid #D87D4A;
}

@media (max-width: 768px) {
  .features .col-md-4 {
    margin-top: 90px;
  }
  .headphones__col-2 {
    margin-top: 40px;
  }
  .may .col-md-4 {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .gallery__img {
    width: 445px;
  }
}
/*# sourceMappingURL=main.css.map */